@import 'normalize';
$red: #720001;
$ui-blue: #fff;
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	// lame hack to hide cursor, we should use pointerLock instead: https://threejs.org/examples/misc_controls_pointerlock.html
	// cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjbQg61aAAAADUlEQVQYV2P4//8/IwAI/QL/+TZZdwAAAABJRU5ErkJggg=='),
	// url(images/blank.cur),
	// none !important;
	&.hot {
    &.modal-closed {
		    cursor: pointer;
      }
  }
  &.resize * {
    transition: none !important;
  }
}
.logo {
  width: 158px;
  img {
    max-width: 100%;
  }
}

h1 {
  position: absolute;
  color: #fff;
  width: 100%;
  text-align: center;
  font-family: 'Trajan W01 Regular';
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.1em;
  margin: 5px 0;
  z-index: 4;
  img {
    width: 250px;
  }
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
canvas {
	width: 100%;
	height: 100%;
}
html, body {
	background-color: #000;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
#preloader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #000;
	z-index: 6;
  h3 {
    color: #fff;
    position: absolute;
    top: 50%;
    line-height: 0;
    width: 100%;
    font-family: 'Trajan W01 Bd';
  }
	.loading-status::after {
		content: "";
		display: block;
		clear: both;
	}
	.info {
		position: absolute;
		left: 0;
		bottom: 10px;
		width: 100%;
    font-family: 'Trajan W01 Bd';
    font-size: 12px;
	}
	.bar {
		width: calc(100% - 50px);
		height: 1px;
		padding: 0px;
		display: inline-block;
		vertical-align: middle;
	}
	.progress {
		background-color: #4b5b6b;
		width: 0%;
		height: 100%;
		transition: all 350ms ease-in-out;
	}
	#percent {
		display: inline-block;
		vertical-align: middle;
		width: 40px;
		color: #fff;
	}
	svg {
		fill: #fff;
		width: 50%;
		margin-bottom: 20px;
	}
}
#blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	// display: none;
	span {
		display: block;
	}
	svg {
		transform: scale(0.7);
		margin-top: 25px;
		width: 40%;
	}
	svg path {
		fill: #fff;
	}
}
#instructions {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
}
#info {
	position: absolute;
	top: 0px; width: 100%;
	color: #ffffff;
	padding: 5px;
	font-family:Monospace;
	font-size:13px;
	font-weight: bold;
	text-align:center;
}
a {
	color: #ffffff;
	font-size: 20px;
	text-decoration: none;
}

.logo {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 3;
}

.content {
	font-size: 40px;
}
canvas {
  position: relative;
}
.header-share {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 150px;
	z-index: 5;
	.button-outer {
		width: 33%;
		float: left;
		svg {
			fill: none;
		}
	}
}


/*------------------------------------*\
  SOCIAL MEDIA BUTTONS
\*------------------------------------*/
.button-outer {
    &.fb {
        &:hover {
            .social-media__btns.mod-fb {
                opacity: 1;
                visibility: visible;
                pointer-events: visible;
            }
        }
    }
    &.twitter {
        &:hover {
            .social-media__btns.mod-twitter {
                opacity: 1;
                visibility: visible;
                pointer-events: visible;
            }
        }
    }
}

.social-media__btns {
    position: absolute;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: all 250ms ease;

    &:hover {
        opacity: 1;
        visibility: visible;
        pointer-events: visible;
    }

    &.mod-fb {
        top: 40px;
        right: 18px;
        padding-top: 10px;
    }
    &.mod-twitter {
        top: 40px;
        right: 0;
        padding-top: 10px;
    }
}




.blur {
	filter: url(#blur-filter);
}
.description {
	padding: 0 10% 0 7%;
	font-size: 1.5vw;
	font-family:'Trajan W01 Regular';
}
.title {
	font-size: 2vw;
	font-family: 'Trajan W01 Bd';
	background-image: -webkit-linear-gradient(180deg, #fff, #fff 60%, #b4b6b8);
	background-image: -moz-linear-gradient(180deg, #fff, #fff 60%, #b4b6b8);
	background-image: -ms-linear-gradient(180deg, #fff, #fff 60%, #b4b6b8);
	background-image: -o-linear-gradient(180deg, #fff, #fff 60%, #b4b6b8);
	background-image: linear-gradient(180deg, #fff, #fff 60%, #b4b6b8);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.border {
	margin: 10px 0;
}
.modal-container.new {
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	// display: none;
	.overlay {
		&:hover {
			cursor: pointer;
		}
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.8);
    z-index: 2;
	}
	.modal {
		background-image: url(../textures/AC_360_ModalDesign_V5.png);
		color: #fff;
		width: 60%;
		background-size: 100% 100%;
		position: relative;
		margin: 0 auto;
		z-index: 1;
		top: 50%;
		transform: translate(0, -50%) scale(1, 0.01);
		transition: 750ms ease;
		max-width: 860px;
		z-index: 3;
		&.open {
			transform: translate(0, -50%) scale(1, 1);
		}
		.controls {
			&:hover {
				cursor: pointer;
			}
			position: absolute;
			top: 50%;
			transform: translate(0%,50%);
			color: $red;
			display: none;
			z-index: 1;
			width: 28px;
			height: 37px;
			&.next {
				right: 25px;
				background-image: url(../textures/next.png);
			}
			&.prev {
				left: 10px;
				background-image: url(../textures/prev.png);
			}
		}
		&::before {
			content: "";
			display: block;
			padding-top: 65%;
			// old modal sizing
			// padding-top: 72.530864197531%;
		}
	}



	// .modal {
	// 	position: absolute;
	// 	width: 80%;
	// 	overflow: auto;
	// 	color: #fff;
	// 	font-size: 20px;
	// 	z-index: 1;
	// 	left: 50%;
	// 	top: 50%;
	// 	transform: translate(-50%, -50%);
	// }
	// .feature {
	// 	width: 40%;
	// 	min-height: 200px;
	// 	float: left;
	// }
	// .content {
	// 	width: 60%;
	// 	min-height: 200px;
	// 	border: 4px solid $red;
	// 	padding: 20px;
	// 	float: left;
	// 	background-color: #000;
	// }
	.content {
		position: absolute;
		// top: 35px;
		top: 7%;
		left: 0;
		text-align: center;
		width: 100%;
		padding-top: 3%;
		img {
			height: auto;
			display: block;
			margin: 0 auto;
		}
		.item {
			max-width: 100%;
      max-height: 16vw;
			margin-bottom: 3.982300884956%;
		}
		.words {
			width: 68.5%;
			// width: 81.558028616852%;
		}
	}
	.share {
		position: absolute;
		left: 50%;
		bottom: 40px;
		transform: translate(-50%,0);
		width: 150px;
		// width: 27.37%;
		.button-outer {
            position: relative;
			width: 47.5%;
			margin-right: 5%;
			// width: 28.14%;
			// margin-right: 4.86%;
			float: left;
			// .logo {
			// 	transform-origin: 50% 50%;
			// 	transition: all 350ms ease;
			// }
			// &:hover {
			// 	cursor: pointer;
			// 	.logo {
			// 		transform: scale(1.1);
			// 	}
			// }
		}
		svg {
			fill: none;
		}
		path {
			stroke: $ui-blue;
		}
	}
	.close {
		&:hover {
			cursor: pointer;
			line {
				stroke-width: 3;
			}
		}
		position: absolute;
		top: 5%;
		right: 5%;
		line-height: 0;
		color: #720001;
		width: 10%;
		height: auto;
		z-index: 1;
		path {
			stroke: $ui-blue;
			fill: none;
		}
		line {
			stroke: $ui-blue;
			transition: all 350ms ease;
		}
	}
}
.fill {
	fill: $ui-blue;
	stroke: none;
}
.outer-path {
	stroke: $ui-blue;
}
.inner-path {
	stroke: $ui-blue;
}
.logo {
	transform-origin: 50% 50%;
	transition: all 350ms ease;
}
.button-outer {
	.off .inner-path {
		stroke: $red;
	}
	&:hover {
		cursor: pointer;
		// .logo {
		// 	transform: scale(1.1);
		// }
	}
	&.sound {
		line {
			stroke: $red;
			stroke-width: 3;
			display: none;
		}
	}
}
.footer-controls {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 98%;
  z-index: 5;
	.button-outer {
		float: left;
		width: 1%;
		height: auto;
		svg {
			fill: none;
            width: 50PX;
		}
	}
    .button-right {
        float: left;
        width: 100%;
    }

    .button-right a {
        font-size: 12px;
        font-family: 'Trajan W01 Bd';
        margin-top: -30px;
        float: right;
        margin-right: 12px;
        /* margin-bottom: 020px; */
    }
}


.modal-container.new {
	visibility: hidden; opacity: 0; top: 0px;
	.border img {
		width: 100%;
	}
	.modal.bladed-spear .item {
		width: 90%;
	}
	.modal.vambrace .item {
		width: 29%;
	}
	.modal.halberd .item {
		width: 85%;
	}
	.title {
		font-size: 2vw;
	}
	.inner {
		padding: 0 16% 0 17%;
	}
	.description {
		font-size: 0.9vw;
    line-height: 1.4;
	}
	.modal .controls.next {
		right: 10%;
	}
	.modal .controls.prev {
		left: 12%;
	}
	.share {
		.twitter {
			margin-left: -11%;
		}
		position: absolute;
		top: 5%;
		left: 15.5%;
		transform: translate(-50%, 0);
		width: 12%;
	}
	.close {
		position: absolute;
		top: 3%;
		right: 10%;
		line-height: 0;
		color: #720001;
		width: 16%;
		height: auto;
		z-index: 1;
	}
}



#footer {
    position: relative;
    padding: 20px;
    color: #4a4a4a;
    background: #000;
    height: 95px;
    .footer-inner {
      max-width: 1200px;
      margin: 0 auto;
      .footer-left, .footer-mobile-logos {
        float: left;
        width: 200px;
        text-align: right;
        img:first-child {
          width: calc((100% - 20px) / 2);
        }
        img {
          float: left;
          width: calc((100% - 20px) / 4);
          margin-right: 10px;
        }
        img:last-child {
          margin-right: 0;
        }
      }
      .footer-center {
        float: left;
        width: calc(100% - 320px);
        span {
          font-size: 10px;
          margin: 0 auto;
          text-align: left;
          display: block;
          width: 100%;
          padding: 0 10px;
          box-sizing: border-box;
          a {
            font-size: 10px;
            color: #4a4a4a;
          }
        }
      }
      .footer-mobile-logos {
        display: none;
      }
      .footer-right {
        float: left;
        width: 120px;
        text-align: center;
        img {
          width: 100%;
          max-width: 108px;
          margin-bottom: 5px;
        }
        span {
          font-size: 7px;
          display: block;
          width: 100%;
          a {
            color: #4a4a4a;
            font-size: 7px;
          }
          &.rating {
            font-size: 10px;
            border: 1px solid #4a4a4a;
            padding: 2px 5px;
            box-sizing: border-box;
            margin: 10px 0;
          }
        }
      }
    }
  }

.splash {
	width: 90%;
	max-width: 1000px;
	background-repeat: no-repeat;
	margin: 0 auto;
	
	path {
		fill: none;
		stroke: #fff;
	}
	text {
		font-family: 'Trajan W01 Regular';
		font-size: 18.5px;
	}

	.text {
		background-image: url(../textures/AC_360_LoadingScreenCopy_Desktop.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		&:before {
			content: "";
			display: block;
			height: 60%;
		}
	}
	.button {
		opacity: 0;
		&:hover {
			cursor: pointer;
		}
	}
	// button {
	// 	opacity: 0;
	// 	outline: none;
	// 	transition: all 350ms ease-in-out;
	// 	&:hover {
	// 		transform: scale(1.1)
	// 	}
	// }
}

.enter {
  color: #fff;
  font-size: 1.5vmax;
  font-family: 'Trajan W01 Regular';
  border: 1px solid #6a7d91;
  box-shadow: 0px 0px 10px 3px rgba(106, 125, 145, 0.6);
  background-color: transparent;
  background-repeat:no-repeat;
  padding: 1vw 2vw;
  cursor: pointer;
  display: hidden;
  // -webkit-box-shadow: 0px 0px 42px 4px rgba(255,255,255,1);
  // -moz-box-shadow: 0px 0px 42px 4px rgba(255,255,255,1);
  // box-shadow: 0px 0px 42px 4px rgba(255,255,255,1);
}

//************************************************************************//
//                           Media Queries                                //
//************************************************************************//

@media only screen and (min-width: 1433px) {
  .modal-container.new {
    .modal {
      // background-image: url(../textures/AC_360_ModalDesign_V3_Mobile.png);
      background-image: url(../textures/AC_360_ModalDesign_V5.png);
      color: #fff;
      width: 60%;
      background-size: 100% 100%;
      position: relative;
      margin: 0 auto;
      top: 50%;
      transform: translate(0, -50%) scale(1, 0.01);
      max-width: 860px;
    }
    .title {
      font-size: 29px;
    }
    .description {
      font-size: 13px;
    }
    .content {
      .item {
        max-height: 230px;
      }
    }
  }
  .enter {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .enter {
    font-size: 1.2vmax;
  }
}

@media only screen and (max-width: 1040px) {

  .logo {
    width: 140px;
  }

  h1 {
    font-size: 24px;
    line-height: 44px;
  }

  .modal-container.new {
    .modal {
      width: 90%;
    }
    .title {
      font-size: 3.2vw;
    }
    .description {
      font-size: 1.25vw;
    }
    .content {
      .item {
        max-height: 23vw;
      }
    }
  }
}

@media only screen and (max-width: 740px) {
  #preloader h3 {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .logo {
    width: 130px;
  }
  h1 {
    transform: rotate(-90deg);
    width: 100%;
    top: 44%;
    left: calc(-50% + 28px);
    font-size: 18px;
    z-index: 2;
    img {
      width: 200px;
    }
  }
  .modal-container.new {
    .modal {
      background-image: url(../textures/AC_360_ModalDesign_V3_Mobile.png);
      width: 90%;
      background-size: contain;
      background-repeat: no-repeat;
      max-width: 415px;
      padding-bottom: 81%;
      .close {
        top: 10% !important;
      }
      .inner {
        padding: 0 14%;
      }
      .content {
        top: 16%;
        left: 0;
        text-align: center;
        width: 100%;
        padding-top: 3%;
        img {
          height: auto;
          display: block;
          margin: 0 auto;
        }
        .item {
          // width: 40.222575516693%;
          max-width: 100%;
          max-height: 27vw;
          margin-bottom: 3.982300884956%;
        }
        .words {
          width: 78.5%;
          // width: 81.558028616852%;
        }
        .description {
          font-size: 11px;
          line-height: 1.6;
          padding: 0 4%;
        }
        .title {
          font-size: 16px;
        }
      }
      .share {
        position: absolute;
        top: 80% !important;
        left: 50% !important;
        width: 25% !important;
        margin-bottom: 10px;
      }
      .controls {
        top: 30vw;
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        .prev {
          left: 10%;
        }
      }
    }
  }
  #footer {
    .footer-inner {
      .footer-left {
        display: none;
      }
      .footer-center {
        width: 100%;
        float: none;
        margin: 0;
      }
      .footer-mobile-logos {
        clear: both;
        display: block;
        float: left;
        margin: 20px 0 10px 10px;
        height: 50px;
        width: calc(100% - 150px);
      }
      .footer-right {
        float: right;
        width: 110px;
        margin: 20px auto 20px;
        img {
          margin-bottom: 10px;
        }
        span a {
          font-size: 7px !important;
        }
      }
    }
  }
  .footer-controls .button-outer {
    display: none;
  }
  .splash {
  	.text{
		background-image: url(../textures/AC_360_LoadingScreenCopy_Mobile.png);
		&:before {
			padding-top: 0;
		}
  	}
  	button {
  		width: 180px;
  		font-size: 2.5vw;
      padding: 10px;
		border: 2px solid #fff;
  	}
  }
}
